on:
  push:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: dongdigua/aosc-os

permissions:
    contents: read
    packages: write
    attestations: write
    id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
    #     variant: ["slim", "base"]
        arch: ["amd64", "arm64"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up aoscbootstrap # 偷包
        run: |
          sudo apt update
          sudo apt install nettle-dev liblzma-dev zlib1g-dev
          curl -O https://repo.aosc.io/debs/pool/stable/main/a/arch-chroot_28+mirrorlist20231113+pacman6.0.1-0_noarch.deb
          curl -O https://repo.aosc.io/debs/pool/stable/main/a/aoscbootstrap_0.9.0-0_amd64.deb
          sudo dpkg --force-depends -i *.deb
          git clone --branch v0.9.0 --depth 1 https://github.com/AOSC-Dev/aoscbootstrap
          cd aoscbootstrap
          patch -p1 <../arch-chroot.patch
          CMAKE_POLICY_VERSION_MINIMUM=3.5 cargo b
          cd ..

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: aoscbootstrap
        run: |
          sudo ./aoscbootstrap/target/debug/aoscbootstrap -a ${{ matrix.arch }} -c /usr/share/aoscbootstrap/config/aosc-mainline.toml stable rootfs
          sudo tar -C rootfs -cf ${{ matrix.arch }}.tar .

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
            images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/${{ matrix.arch }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
