on:
  push:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

permissions:
    contents: read
    packages: write
    attestations: write
    id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
    #     variant: ["slim", "base"]
        arch: ["amd64", "arm64"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
            images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: aoscbootstrap
        run: |
          sudo apt install clang llvm pkg-config nettle-dev liblzma-dev zlib1g-dev
          CMAKE_POLICY_VERSION_MINIMUM=3.5 cargo install --git https://github.com/AOSC-Dev/aoscbootstrap --tag v0.9.0
          curl -O https://raw.githubusercontent.com/AOSC-Dev/aoscbootstrap/refs/heads/master/config/aosc-mainline.toml
          aoscbootstrap -a ${{ matrix.arch }} -c aosc-mainline.toml --export-tar-gz ${{ matrix.arch }}.tgz

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/${{ matrix.arch }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
